<section class="section">



<h1 class="titleForm">FORMULARIO PARA INGRESAR PRODUCTOS</h1>
<article class="formulario" id="output">
        <form action="producto" method="post" id="form" class="formProduct">
        <label for="title">Nombre del producto</label>
        <input type="text" name="title" id="title">
        <label for="description">Descripción</label>
        <input type="text" name="description" id="description">
        <label for="code">Código del producto</label>
        <input type="text" name="code" id="code">
        <label for="price">Precio</label>
        <input type="number" name="price" id="price">
        <label for="stock">Stock</label>
        <input type="number" name="stock" id="stock">
        <label for="category">Categoría</label>
        <input type="text" name="category" id="category">
        <label for="thumbnails">Suba una imágen del producto</label>
        <input type="file" name="thumbnails" id="thumbnails">
        <div class="contenedor"> <button type="submit"  class="btn">Guardar</button></div>
        <div class="contenedor"> <button type="submit" class="btn">Visualizar lista de productos</button></div>
        
    </form>
</article>
<article class="articleProducts">

 <h2 class="title-2">Lista de Productos</h2>
<div id="addproduct" class="d-flex flex-wrap "></div>
</article>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>