<h1 class="title">FORMULARIO PARA INGRESAR PRODUCTOS</h1>
<div class="form" id="output">
        <form action="producto" method="post" id="form">
        <label for="title">Nombre del producto</label>
        <input type="text" name="title" id="title">
        <label for="description">Descripción</label>
        <input type="text" name="description" id="description">
        <label for="code">Código del producto</label>
        <input type="text" name="code" id="code">
        <label for="price">Precio</label>
        <input type="number" name="price" id="price">
        <label for="stock">Stock</label>
        <input type="number" name="stock" id="stock">
        <label for="category">Categoría</label>
        <input type="text" name="category" id="category">
        <label for="thumbnails">Suba una imágen del producto</label>
        <input type="file" name="thumbnails" id="thumbnails">
        <button type="submit">Guardar</button>
    </form>
</div>
<div>
<h2 class="title">Lista de Productos</h2>
<div id="addproduct"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>